:root{
  --color_navbar:#8B1056;
  --color_white:#ffff;
}

*{
  padding: 0px;
  margin: 0px;
}
/* .box{
  max-width: 1024px;
  margin: 0 auto;
} */

nav{
  background-color: var(--color_navbar);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img{
  width: 45px;
  height: 45px;

}
.nav__bar{
  /* background-color: blue; */
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.nav__bar li{
  list-style: none;
}

.nav__bar a{
  color: white;
  text-decoration: none;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__section1{
  background-color: rgb(219, 179, 128);
  background-image: url(people-2562102_1920\ 1.svg);
  height: 750px;
}


.main__section1__container{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  margin: 50px;
  gap: 25px;
}

.main__section1__title{
  font-size: 40px;
}
.main__section1__text{
  font-size: 28px;
}
.main__section1__button{
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: var(--color_navbar);
  color: var(--color_white);
  font-size: 14px;
}

.main__section2{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(12,100px);
  background-color: rgb(219, 179, 128);
  gap: 10px;
}

.main__section2__title{
  background-color: aqua; 
  grid-column: 1/4;
  grid-area: 2/2/ span 3;
}
.main__section2__title{
  background-color: aqua;
  grid-column: 3/7;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section2__destacados{
  grid-column: 3/7;
  grid-row: 3 / 5;
  padding: 20px;
  color: var(--color_white);
  background-image: url(Group\ 15.svg);
  border-radius: 20px;
  background-size: cover;
}
.destacados{
  font-size: 35px;
  margin-bottom: 30px;
}
.main__section2__destacados__parrafo{
  margin-bottom: 30px;

}
.main__section2__destacados a{
  color: var(--color_white);
  font-size: 20px;
}

.main__section2__title2{
  background-color: #8B1056;
  grid-column: 3/7;
  grid-row: 5/6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__section__experiencias1{
  background-color: yellow;
  grid-column: 3/7;
  grid-row: 6/8;
}

